body {
    margin: 50%;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    margin: auto;
    height: 100%;
    min-height: 100%;
}



.contenedor> :not(.visible) {
    display: none;
}

.contenedor {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-size: 140px;
    margin: auto;
}

.incorrecto, .correcto, .listIncorrectas {
    height: auto;
    width: auto;
    text-align: justify;
    font-size: 20%;
    margin: auto;
}


button {
    font-size: 30px;
}

#btnNewWorld{
    float: left;
    margin: 50px;
}